// Image blocks on about page
$favourite-pink: rgb(237, 33, 124);

.portraits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 2px solid #000;
  box-shadow: 5px 10px;
  padding: 40px;
  background: white;
  margin: 40px;
  justify-content: space-between;
}

@media screen and (max-width: 550px) {

  .portraits {
    // flex-direction: column;
    justify-content: center;
    align-items: space-between;
    height: 120%;
    // padding: 10;

    .main-heading {
      font-size: 25px;
      margin: 0px;
      padding: 15px;

    }
    .main-paragraph {
      font-size: 16px;
      padding: 10px;
    }
  }

}

.portrait {
    border-style: solid;
    border-color: #000;
    border-width: 2px;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 0;
}
.main-heading {
font-size: 40px;
color: favourite-pink;
font-family: 'Source Code Pro', monospace;
text-align: center;

}

.main-paragraph {
font-size: 20px;
padding: 20px;
margin: 0px;
color: black;
text-align: justify;
font-family: 'Source Code Pro', monospace;
}

