// Image blocks on about page
$favourite-pink: rgb(237, 33, 124);

.main-heading {
font-size: 40px;
color: $favourite-pink;
font-family: Arial, Helvetica, sans-serif;
text-align: center;

}

.main-paragraph {
font-size: 20px;
color: white;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
// Container for images of me
.portraits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
  .portrait {
    border-style: solid;
      border-color: #000;
      border-width: 2px;
      padding: 10px;
      margin: 20px;
      position: relative;
      width: 200px;
      height: 200px;
      background-color: white;
      margin: 0;
  }

// Container for images of work done
#image-container2 {
    display: flex;
  //   align-items: center;
  // align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;   
}

.pink-heading2 {
    font-family: arial;
    font-size: 30px;
    color: $favourite-pink;
    text-align: center;
}

img {
  height: 400px;
  width: 400px;  
  margin: 20px;
  padding: 10px;
  z-index: 0;
}

  .about-image {
    border-style: solid;
    border-color: #000;
    border-width: 2px;
    padding: 10px;
    margin: 50px;
    position: relative;
    width: 450px;
    background-color: white;

    .dot2 {
      position: relative;
      left: 45%;
      height: 50px;
      width: 50px;
      background-color: $favourite-pink;
      border-radius: 50%;
      display: inline-block;
      top: -60px;
      margin-left: auto;
      margin-right: auto;
      z-index: 2;
      padding: 0;
  
    }

    .block-headings2 {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
    text-align: center;
    margin: -20px 30px;
    
    }
    
    .block-paragraphs2 {
      max-width: 425px;
      text-align: center;
      margin: 30px;
    }

  }
  .page-footer {
    display: flex;
    flex-direction: column-reverse;
    background : purple;
}
    .page-footer ul {
        display: flex;
        font-size: 1.5rem;
        margin-bottom: 5px;
      }
      .small-image {
        height: 40px;
        width: 40px;
        }
    // background-color:$favourite-pink;
    @media screen and (min-width: 550px) {
        .page-footer {
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
        }
  
    .small-image {
    height: 40px;
    width: 40px;
    }
  
  }