
$colours:  #66FF99, #40E0D0, #ed217c, #FF0;
$background: #35363A;
$max: length($colours);
$dash: 70;
$dash-gap: 10;
$dash-space: 20;
// $dash * (max -1) + $dash-gap * $max;
$time: 15s;
$time-step: $time/$max;

svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

.writing {
 font-family: 'Sriracha', cursive;
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;
  
  @for $hue from 1 through $max {
    &:nth-child(#{$max}n + #{$hue}) {
      $colour: nth($colours, $hue);
      stroke: $colour;
      -webkit-animation-delay: -($time-step * $hue);
      animation-delay: -($time-step * $hue);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}
html, body {
    height: 100%;
  }
  
  body {
    background: $background;
    background-size: .2em 100%;
    font: 6em/1 Open Sans, Impact;
    text-transform: uppercase;
    
  }