
$colours: #66FF99, #40E0D0, #ed217c, #FF0 ;
$background: #35363A;
$max: 4;
$dash: 70;
$dash-gap: 10;
$dash-space: 20;
$time: 8s;
$time-step: 3;

svg {
    position: sticky;
    width: 100%;
    height: 100%;
  }

.writing {
//  font-family: 'Sriracha', cursive;
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;


  @for $index from 1 through $max {
    &:nth-child(#{$index}n + #{$index}) {
      $colour: nth($colours, $index);
      stroke: $colour;
      -webkit-animation-delay: -($time-step * $index);
      animation-delay: -($time-step * $index);
    }
  }
}



@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}
html, body {
    height: 100%;
  }
  
  body {
    background: $background;
    background-size: .2em 100%;
    font: 6em/1 'Sriracha', cursive;
    text-transform: uppercase;
    
  }