$favourite-pink: rgb(237, 33, 124);
$favourite-yellow: #ff0;
$favourite-green: #66ff99;
$favourite-blue: #40e0d0;
$favourite-black: #323648;
$grey: #2c3539;

body {
    padding: 0px;
    background: $grey;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: $grey;
  }
   
  .wrapper > * {
    padding: 0px;
  }
   
  .page-main {
    flex-grow: 1;
  }

  // Navbar in white for homepage
.white-nav {
    ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      margin: 0;
      
    }
    .header1 {
        background-color: $favourite-pink;
    }
    .header2 {
        background-color: $favourite-yellow;
    }
    .header3 {
        background-color: $favourite-green;
    }
    .header4 {
        background-color: $favourite-blue;
    }

    .buttons li {
        list-style: none;
        text-align: center;
        margin-right: 30px;
        width: 150px;
        line-height: 60px;
        // border-radius: 16%;
        padding: 1px 4px;
      }

    li a {
      color: white;
      font-size: 20px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
    }
}
    // #logo-box {
    //   flex-grow: 2;
    //   font-family: cursive; 
    // }
    .container {
        position: relative; 
        margin: 15px auto; 
      }
        
      svg {
        stroke: #5ac6ac;
        fill: transparent;
        stroke-width: 1;
        stroke-dasharray: 250; 
        strok-dashoffset: -250;
        font-size: 30px;
        transition: stroke-dashoffset .1s ease-out, fill 1s;
      } 
      .hover:hover svg {
        stroke-dashoffest: 0;
        transition: stroke-dashoffset .1s ease-out, fill 1s;
        fill: #5ac6ac;
        stroke: #5ac6ac;
      }

.page-footer {
    display: flex;
    flex-direction: column-reverse;
    background : purple;
}
    .page-footer ul {
        display: flex;
        font-size: 1.5rem;
        margin-bottom: 5px;
      }
      .small-image {
        height: 40px;
        width: 40px;
        }
    // background-color:$favourite-pink;
    @media screen and (min-width: 550px) {
        .page-footer {
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
        }
  
    .small-image {
    height: 40px;
    width: 40px;
    }
  
  }