$favourite-pink: #ed217c;
$favourite-yellow: #ff0;
$favourite-green: #66ff99;
$favourite-blue: #40e0d0;
$favourite-black: #323648;
$grey: #35363A;

body {
    padding-top: 10px;
    padding-bottom: 60px;
    background: $grey;
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    // flex-direction: column;
    min-height: 100%;
    // background: $grey;
    
  
   
  .wrapper > * {
    padding: 0px;
  }
   
  .page-main {
    flex-grow: 1;
  }

  // Navbar in white for homepage
.white-nav {
    ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      margin: 20px;
      
    }
    .header1 {
        background-color: $favourite-pink;
    }
    .header2 {
        background-color: $favourite-yellow;
    }
    .header3 {
        background-color: $favourite-green;
    }
    .header4 {
        background-color: $favourite-blue;
    }

    .buttons li {
        list-style: none;
        text-align: center;
        width: 150px;
        line-height: 15px;
        padding: 4px;
      }

    li a {
        display: flex;
        justify-content: center;
        color: $favourite-black;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    // scroll-snap-type: y;
  }
  
  section {
    // height: 100vh;
    scroll-snap-align: center;
    padding: 1rem;
    display: flex;
  }   
  
  section.is-visible .content {
    opacity: 1;
    transition: opacity 1000ms;
  }

section:nth-child(3) {
    background-color: $favourite-pink;
}   
// }
// section:nth-child(5n) {
//     background-color: $favourite-pink;
    
// }

.page-footer {
    position: fixed;
    height:100px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background : $favourite-yellow;
    margin-bottom: 0;
    margin-left: 0;
 }

      .small-image {
        height: 40px;
        width: 40px;
        }
    
    @media screen and (max-width: 550px) {
        .page-footer {
            display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
          align-items: flex-start;
          flex-wrap: nowrap;
        }
        .small-image {
            height: 40px;
            width: 40px;
            padding: 10px;
            }
    }
}