#project-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.projects {
    
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    height: 420px;
    width: 420px;
    border: 2px solid #000;
    padding: 40px;
    background: white;
    margin: 40px;
}

.projects img {
    height: 320px;
    width: 320px;
}

h3 {
    font-family: 'Source Code Pro', monospace;
    margin-top: 0; 
}

p {
    font-family: 'Source Code Pro', monospace;
    padding-bottom: 40px;
    margin-top: 0; 
}

@media screen and (max-width: 550px) {
h3 {
font-size: 1em;
}

p {
    font-size: .8em;
}
}