#project-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
}
.projects {
    
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    height: 420px;
    width: 420px;
    border: 2px solid #000;
    padding: 40px;
    background: white;
    margin: 40px;
}

.vertical-text2 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;
    align-self: center;
    margin: 0;
  }

.projects img {
    height: 320px;
    width: 320px;
}

h3 {
    font-family: 'Source Code Pro', monospace;
    margin-top: 0; 
}

p {
    font-family: 'Source Code Pro', monospace;
    padding-bottom: 40px;
    margin-top: 0; 
}

@media screen and (max-width: 550px) {
    .vertical-text2 {
        writing-mode: horizontal-tb;
    } 
h3 {
font-size: 1em;
}

p {
    font-size: .8em;
}
}