.tech-icons {
    // background-color: white;
    height: 100vh;
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
    justify-content: center;
    align-content: space-around;
   
 }

    .iconify {
        height: 120px;
        width: 120px;
        border: 20px solid red;
        padding: 20px;
        }

@media screen and (max-width: 550px) {
    .tech-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    }

    .iconify {
    height: 80px;
    width: 80px;
    border: 10px;
    // justify-self: space-between;
    }
}