body {
  padding-top: 10px;
  padding-bottom: 60px;
  background: #35363A;
  height: 100%;
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background: #35363A;
}

.wrapper .wrapper > * {
  padding: 0px;
}

.wrapper .page-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .white-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  margin: 20px;
}

.wrapper .white-nav .header1 {
  background-color: #ed217c;
}

.wrapper .white-nav .header2 {
  background-color: #ff0;
}

.wrapper .white-nav .header3 {
  background-color: #66ff99;
}

.wrapper .white-nav .header4 {
  background-color: #40e0d0;
}

.wrapper .white-nav .buttons li {
  list-style: none;
  text-align: center;
  width: 150px;
  line-height: 15px;
  padding: 4px;
}

.wrapper .white-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #323648;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.wrapper .scroll-container {
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.wrapper section {
  height: 100vh;
  scroll-snap-align: center;
}

.wrapper section {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper section .content {
  opacity: 0;
}

.wrapper section.is-visible .content {
  opacity: 1;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.wrapper section:nth-child(2n) {
  background-color: white;
}

.wrapper section:nth-child(3n) {
  background-color: #ed217c;
}

.wrapper .page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #ff0;
  margin-bottom: 0;
  margin-left: 0;
}

.wrapper .small-image {
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 550px) {
  .wrapper .page-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .small-image {
    height: 40px;
    width: 40px;
  }
}

#about {
  background-color: white;
}

.main-heading {
  font-size: 40px;
  color: #ed217c;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.main-paragraph {
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.portraits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portrait {
  border-style: solid;
  border-color: #000;
  border-width: 2px;
  padding: 10px;
  margin: 20px;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 0;
}

#image-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

.pink-heading2 {
  font-family: arial;
  font-size: 30px;
  color: #ed217c;
  text-align: center;
}

img {
  height: 400px;
  width: 400px;
  margin: 20px;
  padding: 10px;
  z-index: 0;
}

.about-image {
  border-style: solid;
  border-color: #000;
  border-width: 2px;
  padding: 10px;
  margin: 50px;
  position: relative;
  width: 450px;
  background-color: white;
}

.about-image .dot2 {
  position: relative;
  left: 45%;
  height: 50px;
  width: 50px;
  background-color: #ed217c;
  border-radius: 50%;
  display: inline-block;
  top: -60px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  padding: 0;
}

.about-image .block-headings2 {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 400px;
  text-align: center;
  margin: -20px 30px;
}

.about-image .block-paragraphs2 {
  max-width: 425px;
  text-align: center;
  margin: 30px;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background: purple;
}

.page-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.small-image {
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 550px) {
  .page-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .small-image {
    height: 40px;
    width: 40px;
  }
}

svg {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 100%;
}

.writing {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 20;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 8s infinite linear;
  animation: stroke 8s infinite linear;
}

.writing:nth-child(1n + 1) {
  stroke: #66FF99;
  -webkit-animation-delay: -3;
  animation-delay: -3;
}

.writing:nth-child(2n + 2) {
  stroke: #40E0D0;
  -webkit-animation-delay: -6;
  animation-delay: -6;
}

.writing:nth-child(3n + 3) {
  stroke: #ed217c;
  -webkit-animation-delay: -9;
  animation-delay: -9;
}

.writing:nth-child(4n + 4) {
  stroke: #FF0;
  -webkit-animation-delay: -12;
  animation-delay: -12;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -320;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -320;
  }
}

html, body {
  height: 100%;
}

body {
  background: #35363A;
  background-size: .2em 100%;
  font: 6em/1 'Sriracha', cursive;
  text-transform: uppercase;
}
/*# sourceMappingURL=styles.css.map */