body {
  padding-top: 10px;
  padding-bottom: 60px;
  background: #35363A;
  height: 100%;
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
}

.wrapper .wrapper > * {
  padding: 0px;
}

.wrapper .page-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .white-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  margin: 20px;
}

.wrapper .white-nav .header1 {
  background-color: #ed217c;
}

.wrapper .white-nav .header2 {
  background-color: #ff0;
}

.wrapper .white-nav .header3 {
  background-color: #66ff99;
}

.wrapper .white-nav .header4 {
  background-color: #40e0d0;
}

.wrapper .white-nav .buttons li {
  list-style: none;
  text-align: center;
  width: 150px;
  line-height: 15px;
  padding: 4px;
}

.wrapper .white-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #323648;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.wrapper .scroll-container {
  height: 100vh;
  overflow-y: scroll;
}

.wrapper section {
  scroll-snap-align: center;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper section.is-visible .content {
  opacity: 1;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.wrapper section:nth-child(3) {
  background-color: #ed217c;
}

.wrapper .page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #ff0;
  margin-bottom: 0;
  margin-left: 0;
}

.wrapper .small-image {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 550px) {
  .wrapper .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .wrapper .small-image {
    height: 40px;
    width: 40px;
    padding: 10px;
  }
}

.portraits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 2px solid #000;
  -webkit-box-shadow: 5px 10px;
          box-shadow: 5px 10px;
  padding: 40px;
  background: white;
  margin: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 550px) {
  .portraits {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    height: 120%;
  }
  .portraits .main-heading {
    font-size: 25px;
    margin: 0px;
    padding: 15px;
  }
  .portraits .main-paragraph {
    font-size: 16px;
    padding: 10px;
  }
}

.portrait {
  border-style: solid;
  border-color: #000;
  border-width: 2px;
  padding: 20px;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 0;
}

.main-heading {
  font-size: 40px;
  color: favourite-pink;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

.main-paragraph {
  font-size: 20px;
  padding: 20px;
  margin: 0px;
  color: black;
  text-align: justify;
  font-family: 'Source Code Pro', monospace;
}

#image-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

.pink-heading2 {
  font-family: arial;
  font-size: 30px;
  color: #ed217c;
  text-align: center;
}

img {
  height: 400px;
  width: 400px;
  margin: 20px;
  padding: 10px;
  z-index: 0;
}

.about-image {
  border-style: solid;
  border-color: #000;
  border-width: 2px;
  padding: 10px;
  margin: 50px;
  position: relative;
  width: 450px;
  background-color: white;
}

.about-image .dot2 {
  position: relative;
  left: 45%;
  height: 50px;
  width: 50px;
  background-color: #ed217c;
  border-radius: 50%;
  display: inline-block;
  top: -60px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  padding: 0;
}

.about-image .block-headings2 {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 400px;
  text-align: center;
  margin: -20px 30px;
}

.about-image .block-paragraphs2 {
  max-width: 425px;
  text-align: center;
  margin: 30px;
}

svg {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 100%;
  background-color: #35363A;
}

text {
  font: 6em/1 'Sriracha', cursive;
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 20 80;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 10s infinite linear;
  animation: stroke 10s infinite linear;
}

text:nth-child(1) {
  stroke: #40E0D0;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}

text:nth-child(2) {
  stroke: #ed217c;
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
}

text:nth-child(3) {
  stroke: #FF0;
  -webkit-animation-delay: -24s;
  animation-delay: -24s;
}

text:nth-child(4) {
  stroke: #66FF99;
  -webkit-animation-delay: -32s;
  animation-delay: -32s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -120;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -120;
  }
}

#skill-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

h2 {
  font: 2em sans-serif;
}

.tech-icons {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  background-color: white;
}

.iconify {
  height: 120px;
  width: 120px;
  border: 20px;
  padding: 20px;
  background-color: white;
}

@media screen and (max-width: 550px) {
  .tech-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .iconify {
    height: 80px;
    width: 80px;
    border: 10px;
  }
}

body {
  padding-top: 10px;
  padding-bottom: 60px;
  background: #35363A;
  height: 100%;
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
}

.wrapper .wrapper > * {
  padding: 0px;
}

.wrapper .page-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .white-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  margin: 20px;
}

.wrapper .white-nav .header1 {
  background-color: #ed217c;
}

.wrapper .white-nav .header2 {
  background-color: #ff0;
}

.wrapper .white-nav .header3 {
  background-color: #66ff99;
}

.wrapper .white-nav .header4 {
  background-color: #40e0d0;
}

.wrapper .white-nav .buttons li {
  list-style: none;
  text-align: center;
  width: 150px;
  line-height: 15px;
  padding: 4px;
}

.wrapper .white-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #323648;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.wrapper .scroll-container {
  height: 100vh;
  overflow-y: scroll;
}

.wrapper section {
  scroll-snap-align: center;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper section.is-visible .content {
  opacity: 1;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.wrapper section:nth-child(3) {
  background-color: #ed217c;
}

.wrapper .page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #ff0;
  margin-bottom: 0;
  margin-left: 0;
}

.wrapper .small-image {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 550px) {
  .wrapper .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .wrapper .small-image {
    height: 40px;
    width: 40px;
    padding: 10px;
  }
}

#contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #66ff99;
  border: 4px solid red;
}

.contact-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 2px solid #000;
  -webkit-box-shadow: 5px 10px;
          box-shadow: 5px 10px;
  padding: 40px;
  background: white;
  margin: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#project-section {
  border: 3px solid blue;
}
/*# sourceMappingURL=styles.css.map */